<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Van Kriedt</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" type="image/x-icon" href="../images/dvk_favicon.ico">

</head>

<style>
    body {
        background-color:#735d49;
        
    }
</style>
<body>
        <div class="bio center-xy">
            <p>
                Hey guys, David here. I write, record, produce, and mix all of my music... out of my bedroom. Being influenced by a myriad of artists, ranging from The Beatles' timeless soundscapes to Mac Miller's transparent lyricism, my taste progressively changes as I get older, and this is where I share my journey. 
        
                I've moved around a lot my whole life, and the EP I'm currently releasing, 'For Someone', is an attempt to reflect my recent move from York to Sydney, and how relationships have sculpted my new surroundings. 
            </p>
        </div>
    

    <script src="../public/script.js"></script>
</body>
</html>