<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Van Kriedt</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico">

</head>

<style>
    body {
        font-family: "Poppins", sans-serif;
    }
</style>
<body id="homePage">


    <div class="test-container">
        <header>
            <div class="cube-container">
                <div class="cube">
                    <div class="cube-face front"><a href="../views/shop.html">Shop</a></div>
                    <div class="cube-face back"><a href="../views/about.html">About</a></div>
                    <div class="cube-face left"><a href="../views/shop.html">Shop</a></div>
                    <div class="cube-face right"><a href="../views/about.html">About</a></div>
                    <div class="cube-face top"><a href="../views/shop.html">Shop</a></div>
                    <div class="cube-face bottom"><a href="../views/about.html">About</a></div>
                </div>
            </div>
        </header>
    </div>

    <script src="../public/script.js"></script>
</body>
</html>