<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Van Kriedt</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="icon" type="image/x-icon" href="../images/dvk_favicon.ico">

</head>

<style>
    body {
        background-color: #c7c495;
    }
</style>

<body>
    <img class="epTitle center"src="../images/ep_title.png" alt="For someone">

    <div class="epPlayer center">
        <p>Living in it</p>
        <audio class="LivingInIt" controls>
            <source src="../ep/Living In It - Mastered Logic.wav" type="audio/wav">
        </audio>

        <p>Despite it all</p>
        <audio class="DespiteItAll" controls>
            <source src="../ep/DESPITE IT ALL MASTER 2024.03.23.wav" type="audio/wav">
        </audio>

        <p>We can do things too</p>
        <audio class="WeCanDoThingsToo" controls>
            <source src="../ep/WE CAN DO THINGS TOO 2024.03.23.wav" type="audio/wav">
        </audio>
    
        <p>Till you run out of fuel</p>
        <audio class="TillYouRunOutOfFuel" controls>
            <source src="../ep/TILL YOU RUN OUT OF FUEL MASTER 2024.03.23.wav" type="audio/wav">
        </audio>

        <p>Lilac</p>
        <audio class="Lilac" controls>
            <source src="../ep/LILAC MASTER 2023.03.23.wav" type="audio/wav">
        </audio>

    </div>
    

    <script src="../public/script.js"></script>
</body>
</html> 