:root {
  --cube-width: 300px;
  --translateZ: 150px;
}


body {
    font-family: 'Rubik', sans-serif;
    margin:auto;
    background-color: white;
    scroll-behavior: smooth;
    color: #232b2b;
    margin: 0;
    padding: 0;
    height: 100%;
  }

.homeContent{
  width: 100%;
  height: 100%;
  display: table;
}

header {
  color: white;
  display: flex;
  align-items: center;
  height: 100vh;

}

.test-container {
  max-width: 1000px;
  margin: 0 auto;
}

.cube-container {
  perspective: 1000px;
}

.cube-container .cube {
  width: var(--cube-width);
  height: var(--cube-width);
  transform-style: preserve-3d;

}



.cube-container .cube-face {
  width: var(--cube-width);
  height: var(--cube-width);
  position: absolute;
  font-size: 30px;
  background-color: yellow;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube-container .front {
  background-color: #d63946;
  transform: translateZ(var(--translateZ));
}

.cube-container .back {
  background-color: #06d6a0;
  transform: rotateY(180deg) translateZ(var(--translateZ))
}

.cube-container .left {
  background-color: #023047;
  color: #fff;
  transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.cube-container .right {
  background-color: #3d348b;
  color: #fff;
  transform: rotateY(90deg) translateZ(var(--translateZ));
}

.cube-container .top {
  background-color: #a8d8dc;
  transform: rotateX(90deg) translateZ(var(--translateZ));
}

.cube-container .bottom {
  background-color: #ffd166;
  transform: rotateX(-90deg) translateZ(var(--translateZ));
}

.mainTitle {
    height: 92.625px;
    width: 750px;
    margin: 40px;
}

.titleBtn {
  border: none; 
  background-color: white;
  border-radius: 50px;
}

.titleBtn:hover {
  cursor: pointer;
}

.links-container {
  background-color: beige;
  border-radius: 20px;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  margin-top: 20px;
}

.links{
  margin-left: 10px;
  margin-right: 10px;
  
}


.linkLogoImage {
  width: 20px;
  height: 20px;
}

.linkLogo {
  display: inline-block;
  margin-right: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-xy {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.caption {
  text-align: center;
  font-size: 25px;
}



.blobContainer {
  margin-left:-40px;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.blob {
  height: 100px;
  width: 100px;
  margin-right: 50px;
  margin-left: 50px;
}

.blob svg {
  transition: all .3s ease-in-out;
}

.blob svg:hover {
  transform: scale(1.2); 
}

.epTitle {
  width: 80%;
  height: 7.84%;
  margin-top: 50px;
}

#play-icon {
  width:20px;
  height:20px;
}

.epPlayer {
  background-color: whitesmoke;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}


.bio {
  width: 750px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 15px #453b32,
  -2px -2px 5px #a9907a;
}